# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

/media_storage/pod_clips/transcripts/*
/media_storage/pod_clips/songs/angry/*
/media_storage/pod_clips/songs/cute/*
/media_storage/pod_clips/songs/funny/*
/media_storage/pod_clips/songs/motivational/*
/media_storage/pod_clips/songs/fascinating/*
/media_storage/pod_clips/songs/conspiracy/*
/media_storage/pod_clips/songs/hopeful/**
/media_storage/pod_clips/songs/scary/*
/media_storage/pod_clips/songs/serious/*
/media_storage/pod_clips/full_pod_folder/*
/media_storage/pod_clips/InputVideos/*
/media_storage/pod_clips/audio_extractions/*
/media_storage/pod_clips/images/*
/media_storage/pod_clips/videos_made_from_images/*
/media_storage/pod_clips/OutputVideos/*
/media_storage/pod_clips/InputVideos/*
/media_storage/pod_clips/content_generator/chromedriver.exe*
/media_storage/pod_clips/resized_original_videos/*
/media_storage/pod_clips/media_added_videos/*
/media_storage/pod_clips/queries/*
/media_storage/pod_clips/video_info/*
/media_storage/pod_clips/generated_prompts/*
/media_storage/pod_clips/finished_videos/*
/media_storage/pod_clips/subtitled_videos/*
/media_storage/pod_clips/photo_ads/*
/media_storage/pod_clips/banner_ads/*
/media_storage/pod_clips/banner_videos/*
/media_storage/pod_clips/background_removed_videos/*
/media_storage/pod_clips/background_images/*
/media_storage/pod_clips/image_display_sounds/*
/media_storage/pod_clips/downloaded_videos/videos.csv*
/media_storage/pod_clips/audio_only_backgrounds/*
/media_storage/pod_clips/finished_aud2vid/*
/media_storage/pod_clips/intro_videos/*
/media_storage/pod_clips/watermarks/*
/media_storage/pod_clips/watermarked_videos/*
/media_storage/pod_clips/images/*
/media_storage/pod_clips/backgrounds/*

/media_storage/video_maker/media_added_videos/*
/media_storage/video_maker/intro_videos/*
/media_storage/video_maker/transcripts/*
/media_storage/video_maker/videos_made_from_images/*
/media_storage/video_maker/watermarked_videos/*
/media_storage/video_maker/OutputVideos/*
/media_storage/video_maker/audio_extractions/*
/media_storage/video_maker/audio_input/*
/media_storage/video_maker/blank_videos/*
/media_storage/video_maker/finished_videos/*
media_storage/video_maker/images/*
/media_storage/video_maker/media_added_videos/*
/media_storage/video_maker/backgrounds/*
/media_storage/video_maker/songs/*
/media_storage/video_maker/video_info/*
/media_storage/video_maker/videos_with_intro/*
/media_storage/video_maker/videos_with_music/*
/media_storage/video_maker/subtitled_videos/*
/media_storage/video_maker/videos_with_overlayed_media/*
/media_storage/video_maker/text_input/*


/media_storage/affirmations/affirmations/*
/media_storage/affirmations/intros/*
/media_storage/affirmations/finished_videos/*
/media_storage/affirmations/background_music/*
/media_storage/affirmations/audio_tracks/*
/media_storage/affirmations/blank_videos/*
/media_storage/affirmations/watermarked_videos/*
/media_storage/affirmations/subtitled_videos/*
/media_storage/affirmations/videos_with_intro/*
/media_storage/affirmations/outro_audio/*
/media_storage/affirmations/intro_text/*
/media_storage/affirmations/outro_text/*
/media_storage/affirmations/intro_audio/*
/media_storage/affirmations/videos_with_outro/*
/media_storage/affirmations/outro_audio/*
/media_storage/affirmations/images/*
/media_storage/affirmations/videos/*
/media_storage/affirmations/affirmation_json/*
/media_storage/affirmations/intro_videos/*

media_storage/pod_clips/songs/Pastlives.mp3
