# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*__pycache__

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

/local_app/media_storage/pod_clips/transcripts/*
/local_app/media_storage/pod_clips/songs/angry/*
/local_app/media_storage/pod_clips/songs/cute/*
/local_app/media_storage/pod_clips/songs/funny/*
/local_app/media_storage/pod_clips/songs/motivational/*
/local_app/media_storage/pod_clips/songs/fascinating/*
/local_app/media_storage/pod_clips/songs/conspiracy/*
/local_app/media_storage/pod_clips/songs/hopeful/**
/local_app/media_storage/pod_clips/songs/scary/*
/local_app/media_storage/pod_clips/songs/serious/*
/local_app/media_storage/pod_clips/full_pod_folder/*
/local_app/media_storage/pod_clips/InputVideos/*
/local_app/media_storage/pod_clips/audio_extractions/*
/local_app/media_storage/pod_clips/images/*
/local_app/media_storage/pod_clips/videos_made_from_images/*
/local_app/media_storage/pod_clips/OutputVideos/*
/local_app/media_storage/pod_clips/InputVideos/*
/local_app/media_storage/pod_clips/content_generator/chromedriver.exe*
/local_app/media_storage/pod_clips/resized_original_videos/*
/local_app/media_storage/pod_clips/media_added_videos/*
/local_app/media_storage/pod_clips/queries/*
/local_app/media_storage/pod_clips/video_info/*
/local_app/media_storage/pod_clips/generated_prompts/*
/local_app/media_storage/pod_clips/finished_videos/*
/local_app/media_storage/pod_clips/subtitled_videos/*
/local_app/media_storage/pod_clips/photo_ads/*
/local_app/media_storage/pod_clips/banner_ads/*
/local_app/media_storage/pod_clips/banner_videos/*
/local_app/media_storage/pod_clips/background_removed_videos/*
/local_app/media_storage/pod_clips/background_images/*
/local_app/media_storage/pod_clips/image_display_sounds/*
/local_app/media_storage/pod_clips/downloaded_videos/videos.csv*
/local_app/media_storage/pod_clips/audio_only_backgrounds/*
/local_app/media_storage/pod_clips/finished_aud2vid/*
/local_app/media_storage/pod_clips/intro_videos/*
/local_app/media_storage/pod_clips/watermarks/*
/local_app/media_storage/pod_clips/watermarked_videos/*
/local_app/media_storage/pod_clips/images/*
/local_app/media_storage/pod_clips/backgrounds/*


!/local_app/media_storage/pod_clips/transcripts/.gitkeep
!/local_app/media_storage/pod_clips/songs/angry/.gitkeep
!/local_app/media_storage/pod_clips/songs/cute/.gitkeep
!/local_app/media_storage/pod_clips/songs/funny/.gitkeep
!/local_app/media_storage/pod_clips/songs/motivational/.gitkeep
!/local_app/media_storage/pod_clips/songs/fascinating/.gitkeep
!/local_app/media_storage/pod_clips/songs/conspiracy/.gitkeep
!/local_app/media_storage/pod_clips/songs/hopeful/.gitkeep
!/local_app/media_storage/pod_clips/songs/scary/.gitkeep
!/local_app/media_storage/pod_clips/songs/serious/.gitkeep
!/local_app/media_storage/pod_clips/full_pod_folder/.gitkeep
!/local_app/media_storage/pod_clips/InputVideos/.gitkeep
!/local_app/media_storage/pod_clips/audio_extractions/.gitkeep
!/local_app/media_storage/pod_clips/images/.gitkeep
!/local_app/media_storage/pod_clips/videos_made_from_images/.gitkeep
!/local_app/media_storage/pod_clips/OutputVideos/.gitkeep
!/local_app/media_storage/pod_clips/InputVideos/.gitkeep
!/local_app/media_storage/pod_clips/content_generator/chromedriver.exe.gitkeep
!/local_app/media_storage/pod_clips/resized_original_videos/.gitkeep
!/local_app/media_storage/pod_clips/media_added_videos/.gitkeep
!/local_app/media_storage/pod_clips/queries/.gitkeep
!/local_app/media_storage/pod_clips/video_info/.gitkeep
!/local_app/media_storage/pod_clips/generated_prompts/.gitkeep
!/local_app/media_storage/pod_clips/finished_videos/.gitkeep
!/local_app/media_storage/pod_clips/subtitled_videos/.gitkeep
!/local_app/media_storage/pod_clips/photo_ads/.gitkeep
!/local_app/media_storage/pod_clips/banner_ads/.gitkeep
!/local_app/media_storage/pod_clips/banner_videos/.gitkeep
!/local_app/media_storage/pod_clips/background_removed_videos/.gitkeep
!/local_app/media_storage/pod_clips/background_images/.gitkeep
!/local_app/media_storage/pod_clips/image_display_sounds/.gitkeep
!/local_app/media_storage/pod_clips/downloaded_videos/videos.csv.gitkeep
!/local_app/media_storage/pod_clips/audio_only_backgrounds/.gitkeep
!/local_app/media_storage/pod_clips/finished_aud2vid/.gitkeep
!/local_app/media_storage/pod_clips/intro_videos/.gitkeep
!/local_app/media_storage/pod_clips/watermarks/.gitkeep
!/local_app/media_storage/pod_clips/watermarked_videos/.gitkeep
!/local_app/media_storage/pod_clips/images/.gitkeep
!/local_app/media_storage/pod_clips/backgrounds/.gitkeep

/local_app/media_storage/video_maker/media_added_videos/*
/local_app/media_storage/video_maker/intro_videos/*
/local_app/media_storage/video_maker/transcripts/*
/local_app/media_storage/video_maker/videos_made_from_images/*
/local_app/media_storage/video_maker/watermarked_videos/*
/local_app/media_storage/video_maker/OutputVideos/*
/local_app/media_storage/video_maker/audio_extractions/*
/local_app/media_storage/video_maker/audio_input/*
/local_app/media_storage/video_maker/blank_videos/*
/local_app/media_storage/video_maker/finished_videos/*
/local_app/media_storage/video_maker/images/*
/local_app/media_storage/video_maker/media_added_videos/*
/local_app/media_storage/video_maker/backgrounds/*
/local_app/media_storage/video_maker/songs/*
/local_app/media_storage/video_maker/video_info/*
/local_app/media_storage/video_maker/videos_with_intro/*
/local_app/media_storage/video_maker/videos_with_music/*
/local_app/media_storage/video_maker/subtitled_videos/*
/local_app/media_storage/video_maker/videos_with_overlayed_media/*
/local_app/media_storage/video_maker/text_input/*
/local_app/media_storage/video_maker/images_0/

!/local_app/media_storage/video_maker/media_added_videos/.gitkeep
!/local_app/media_storage/video_maker/intro_videos/.gitkeep
!/local_app/media_storage/video_maker/transcripts/.gitkeep
!/local_app/media_storage/video_maker/videos_made_from_images/.gitkeep
!/local_app/media_storage/video_maker/watermarked_videos/.gitkeep
!/local_app/media_storage/video_maker/OutputVideos/.gitkeep
!/local_app/media_storage/video_maker/audio_extractions/.gitkeep
!/local_app/media_storage/video_maker/audio_input/.gitkeep
!/local_app/media_storage/video_maker/blank_videos/.gitkeep
!/local_app/media_storage/video_maker/finished_videos/.gitkeep
!media_storage/video_maker/images/.gitkeep
!/local_app/media_storage/video_maker/media_added_videos/.gitkeep
!/local_app/media_storage/video_maker/backgrounds/.gitkeep
!/local_app/media_storage/video_maker/songs/.gitkeep
!/local_app/media_storage/video_maker/video_info/.gitkeep
!/local_app/media_storage/video_maker/videos_with_intro/.gitkeep
!/local_app/media_storage/video_maker/videos_with_music/.gitkeep
!/local_app/media_storage/video_maker/subtitled_videos/.gitkeep
!/local_app/media_storage/video_maker/videos_with_overlayed_media/.gitkeep
!/local_app/media_storage/video_maker/text_input/.gitkeep

/local_app/media_storage/affirmations/affirmations/*
/local_app/media_storage/affirmations/intros/*
/local_app/media_storage/affirmations/finished_videos/*
/local_app/media_storage/affirmations/background_music/*
/local_app/media_storage/affirmations/audio_tracks/*
/local_app/media_storage/affirmations/blank_videos/*
/local_app/media_storage/affirmations/watermarked_videos/*
/local_app/media_storage/affirmations/subtitled_videos/*
/local_app/media_storage/affirmations/videos_with_intro/*
/local_app/media_storage/affirmations/outro_audio/*
/local_app/media_storage/affirmations/intro_text/*
/local_app/media_storage/affirmations/outro_text/*
/local_app/media_storage/affirmations/intro_audio/*
/local_app/media_storage/affirmations/videos_with_outro/*
/local_app/media_storage/affirmations/outro_audio/*
/local_app/media_storage/affirmations/images/*
/local_app/media_storage/affirmations/videos/*
/local_app/media_storage/affirmations/affirmation_json/*
/local_app/media_storage/affirmations/intro_videos/*

!/local_app/media_storage/affirmations/affirmations/.gitkeep
!/local_app/media_storage/affirmations/intros/.gitkeep
!/local_app/media_storage/affirmations/finished_videos/.gitkeep
!/local_app/media_storage/affirmations/background_music/.gitkeep
!/local_app/media_storage/affirmations/audio_tracks/.gitkeep
!/local_app/media_storage/affirmations/blank_videos/.gitkeep
!/local_app/media_storage/affirmations/watermarked_videos/.gitkeep
!/local_app/media_storage/affirmations/subtitled_videos/.gitkeep
!/local_app/media_storage/affirmations/videos_with_intro/.gitkeep
!/local_app/media_storage/affirmations/outro_audio/.gitkeep
!/local_app/media_storage/affirmations/intro_text/.gitkeep
!/local_app/media_storage/affirmations/outro_text/.gitkeep
!/local_app/media_storage/affirmations/intro_audio/.gitkeep
!/local_app/media_storage/affirmations/videos_with_outro/.gitkeep
!/local_app/media_storage/affirmations/outro_audio/.gitkeep
!/local_app/media_storage/affirmations/images/.gitkeep
!/local_app/media_storage/affirmations/videos/.gitkeep
!/local_app/media_storage/affirmations/affirmation_json/.gitkeep
!/local_app/media_storage/affirmations/intro_videos/.gitkeep

media_storage/pod_clips/songs/Pastlives.mp3
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
