absl-py
aiohttp
aiosignal
alembic
antlr4-python3-runtime
anyio
asteroid-filterbanks
astunparse
async-generator
async-timeout
asynctest
attrs
audioread
backgroundremover
backports.cached-property
beautifulsoup4
better-profanity
blis
boto3
botocore
Brotli
cachetools
cairocffi
canvas
catalogue
certifi
cffi
charset-normalizer
click
cmaes
colorama
colorlog
commandlines
commonmark
confection
cssutils
cycler
cymem
datasets
decorator
deepgram-sdk
dill
docopt
einops
exceptiongroup
ffmpeg-python
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
future
gast
gizeh
glob2
google-auth
google-auth-oauthlib
google-pasta
gradio_client
greenlet
grpcio
h11
h5py
hmmlearn
hsh
httpcore
httpx
huggingface-hub
HyperPyYAML
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
Jinja2
jmespath
joblib
julius
keras
kiwisolver
langcodes
lazy_loader
libclang
librosa
llvmlite
lxml
Mako
Markdown
MarkupSafe
matplotlib
more-itertools
moviepy
mpmath
msgpack
mtcnn
multidict
multiprocess
murmurhash
mutagen
networkx
nltk
numba
numpy
oauthlib
omegaconf
openai
opencv-python
opencv-python-headless
opt-einsum
optuna
outcome
packaging
pandas
pathy
Pillow
platformdirs
pooch
preshed
primePy
proglog
protobuf
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pyarrow
pyasn1
pyasn1-modules
pycaption
pycparser
pycryptodomex
pydantic
pyDeprecate
pydub
Pygments
PyMatting
pynput
pyparsing
PySocks
python-dateutil
pytorch-lightning
pytorch-metric-learning
pytube
pytz
PyWavelets
PyYAML
regex
reportlab
requests
requests-oauthlib
responses
rich
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-image
scikit-learn
scipy
selenium
semver
sentencepiece
shellingham
simplejson
singledispatchmethod
six
smart-open
sniffio
sortedcontainers
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
speechbrain
SQLAlchemy
srsly
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tifffile
tokenizers
torch
torch-audiomentations
torch-pitch-shift
torchaudio
torchmetrics
torchvision
tqdm
transformers
trio
trio-websocket
typer
typing_extensions
urllib3
waitress
wasabi
websockets
Werkzeug
wrapt
wsproto
xxhash
yarl
youtube-dl
yt-dlp
zipp
