absl-py
aiohttp
aiosignal
alembic
annotated-types
antlr4-python3-runtime
anyio
appnope
arrow
asteroid-filterbanks
asttokens
async-timeout
attrs
audioread
av
backcall
backoff
backports.cached-property
beautifulsoup4
better-profanity
blessed
Brotli
cachetools
certifi
cffi
charset-normalizer
click
cmaes
colorama
coloredlogs
colorlog
contourpy
croniter
ctranslate2
cycler
dateutils
decorator
deepdiff
docopt
einops
elevenlabs
exceptiongroup
executing
fastapi
faster-whisper
ffmpeg-python
filelock
flatbuffers
fonttools
frozenlist
fsspec
future
google-auth
google-auth-oauthlib
greenlet
grpcio
h11
hmmlearn
huggingface-hub
humanfriendly
HyperPyYAML
idna
imageio
imageio-ffmpeg
inquirer
ipython
itsdangerous
jedi
Jinja2
joblib
julius
kiwisolver
lazy_loader
librosa
lightning
lightning-cloud
lightning-utilities
llvmlite
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
moviepy
mpmath
msgpack
multidict
mutagen
networkx
nltk
numba
numpy
oauthlib
omegaconf
onnxruntime
openai
opencv-python
optuna
ordered-set
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
pooch
primePy
proglog
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pyasn1
pyasn1-modules
pycparser
pycryptodomex
pydantic
pydantic_core
pyDeprecate
pydub
Pygments
PyJWT
pyparsing
python-dateutil
python-editor
python-multipart
pytorch-lightning
pytorch-metric-learning
pytz
PyYAML
readchar
regex
requests
requests-oauthlib
resampy
rich
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
semver
sentencepiece
shellingham
simplejson
singledispatchmethod
six
sniffio
sortedcontainers
SoundFile
soupsieve
soxr
speechbrain
SQLAlchemy
stack-data
starlette
starsessions
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboardX
threadpoolctl
tokenizers
torch
torch-audiomentations
torch-pitch-shift
torchaudio
torchmetrics
torchvision
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
websocket-client
websockets
Werkzeug
whisperx @ git+https://github.com/m-bain/whisperx.git@31f5233949d84c151893d144244942e81226a301
yarl
yt-dlp
